<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: cornflowerblue">
<p class="minititle">signup</p>

<form action="/earth/login" method="post" enctype="multipart/form-data">
    <br>
    <input type="text" name="id" maxlength="41" placeholder="ID" id="id">
    <br>
    <input type="password" name="pwd" maxlength="16" placeholder="PWD" id="pwd"> <br>
    <input type="submit" id="donebtn" value="done">
</form>
</body>
</html>
