<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지구침략계획</title>
    <link rel="stylesheet" href="main.css">
</head>
<body style="background-color: cornflowerblue">
<div id="header">
    <p style="text-align: right">
    <a href="https://localhost:8082/earth/login">go to camp</a>
    <a href="https://localhost:8082/earth/signup">sign up</a>
    </p>

</div>
<div id="content">
    <div id="aboutEarth">
    <p class="title"><a href="https://www.naver.com/">지구침략계획</a><p>
    <p class="denouement">About Earth</p>
    </div>
    <div id="aboutUs">
        <p class="denouement">About US</p>
    </div>
    <div id="aboutSchedule">
        <p class="denouement">About Project</p>
    </div>
    <div id="aboutPeople">
        <p class="denouement">About Invaders</p>
    </div>

</div>
<div id="footer">
    <button onclick="Join">join us</button>
    <button onclick="Login">go to camp</button>
</div>

</body>
<script>
    const Login= () =>{
        location.href="/earth/Login"
    }
    const Join= () =>{
        location.href="/earth/Signup"
    }
</script>
</html>