.title{
    font-style: oblique;
    letter-spacing: 30px;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
}
.denouement{
    font-style: oblique;
    font-size: 50px;
    font-weight: bold;
}
