<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="style..css">
</head>
<body>
<h1> e a r t h i n v a s i o n</h1>
</body>
<form action="/earth/main" method="get" id="form">
        <body style="background-color: cornflowerblue">

        <a th:href="@{/earth/login}">
                <button type="button" class="btn btn-outline-primary">login
                </button>
        </a>
        <a th:href="@{/earth/signup}">
                <button type="button" class="btn btn-outline-primary">sign up
                </button>
        </a>
        <a th:href="@{/earth/go to board}">
                <button type="button" class="btn btn-outline-primary">board
                </button>
        </a>

        </body>
</form>

</html>