<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body style="background-color: cornflowerblue">
<p class="minititle">signup</p>

<form action="/earth/main" method="post" enctype="multipart/form-data">
    lastname: <input type="text" name="lastname"> <br>
    firstname: <input type="text" name="firstname"> <br>
    species: <select name="species" id="species">
    <option label="planet">
    <option value="planet-12Aq">planet 12Aq</option>
    <option value="planet-dXlk">planet dXlk</option>
    <option value="planet-Y((m">planet Y((m</option>
    <option value="planet-g79C">planet g79C</option>
    <option value="planet-qufs=">planet qufs=</option>
    <option value="planet-BC89">planet BC89</option>
    <option value="planet-c8jh">planet c8jh</option>
    <option value="planet-m6F4">planet m6F4</option>
    <option value="planet-q1d">planet q1d</option>
    <option value="etc">etc</option>
    </option>
</select>
    <br>
    id: <input type="text" name="id" maxlength="41" id="MemberId" onkeyup="idCheck()"> <span id="id-check-result"></span>
    <br>
    pwd: <input type="text" name="pwd" maxlength="16"> <br>
    birth:  <input type="datetime-local" name="birth" title="birth"> <br>
<!--    file: <input type="file" name="profile" multiple> <br>-->
    <input type="submit" value="done">
</form>

</body>
<script th:inline="javascript">
    const idCheck = () => {
        const id = document.getElementById("MemberId").value;
        const idCheckResult = document.getElementById("id-check-result");
        console.log("id : ",id);
        $.ajax({
            type:"post",
            url:"id-check",
            data : {
                "MemberId" : id
            },
            success : function (result){
                console.log("요청성공 : ",result);
                if(result == "success"){
                    console.log("possible ID");
                    idCheckResult.style.color="green";
                    idCheckResult.style.fontSize="20";
                    idCheckResult.innerHTML = "possible ID";
                }
                else{
                    console.log("impossible ID");
                    idCheckResult.style.color="red";
                    idCheckResult.style.fontSize="20";
                    idCheckResult.innerHTML = "impossible ID";
                }
            },
            error :function (err){
                console.log("err : ",err)
            }
        });
    }
</script>
</html>



